extends ../layouts/adminMenu
block content
    h1 Create account for Staff
    if errors
        each error in errors
            .alert.alert-danger= error
    
    .align-items-center
        form(action="/admin/createAccountStaff" method="POST")
            .form-group 
                label Name
                input.form-control(name="name", type='text') 

                label User Name
                input.form-control(name="username", type='text') 

                label Password
                input.form-control(name="password", type='password')

                label Date of birth
                input.form-control(name="dateofbirth", type='date', value='')

                input.form-control(name="role", type='hidden', value='staff')

            button.btn Create