extends ../layouts/adminMenu
block content
    h1 Update account Staff
    
    .align-items-center
        form(action="/admin/updateAccountStaff/" + account.username method="POST")
            .form-group 
                label Name
                input.form-control(name="name", type='text', value="" + account.name required='' ) 

                label User Name
                input.form-control(name="username", type='text', value="" + account.username required='') 

                label Password
                input.form-control(name="password", type='password', value="" + account.password required='')

                label Date of birth
                input.form-control(name="dateofbirth", type='date', value='' + staff.dateofbirth)

                input.form-control(name="role", type='hidden', value='staff')

            button.btn Update