extends ../layouts/trainerMenu
block content

    h1 List Trainer with Course
    table.table 
        tr 
            th Course
            th Trainer Name
            th Action
        each view in views
            tr
                td
                    a(href='/trainer/viewTopic/' + view.courseName + ' | ' + view.trainer)= view.courseName
                td= view.trainer
                td
                    a.btn.btn-success(href='/trainer/listTrainee/' + view.courseName + ' | ' + view.trainer) View all trainee
    


