extends ../layouts/staffMenu
block content
    h1 Create account for Trainee

    if errors
        each error in errors
            .alert.alert-danger= error

    .align-items-center
        form(action="/staff/createAccountTrainer" method="POST")
            .form-group 
                label Name
                input.form-control(name="name", type='text', value= values ? values.username : '') 

                label User Name
                input.form-control(name="username", type='text', value= values ? values.username : '') 

                label Password
                input.form-control(name="password", type='password', value= values ? values.password : '')

                label Date of birth
                input.form-control(name="dateofbirth", type='date', value='')

                label Email
                input.form-control(name="email", type='text', value='')

                label Phone number
                input.form-control(name="phonenumber", type='text', value='')

                label 
                input.form-control(name="role", type='hidden', value='trainer')

            button.btn Create