extends ../layouts/staffMenu
block content
    h1 Add a Trainer to Course

    if errors
        each error in errors
            .alert.alert-danger= error

    .align-items-center
        form(action="/staff/addTraineeToCourse" method="POST")
            .form-group 
                label Course name
                select.form-control(name="courseName")
                    option(selected='') Choose a Course
                    each course in courses
                        option= course.courseName+' | '+course.trainer

                label Trainee Name
                select.form-control(name="trainee")
                    option(selected='') Choose a Trainer
                    each trainee in trainees
                        option= trainee.name

            button.btn.btn-success Create