extends ../layouts/staffMenu
block content
    h1 Update account for Trainer

    //- if errors
    //-     each error in errors
    //-         .alert.alert-danger= error

    .align-items-center
        form(action="/staff/updateAccountTrainer/" + account.username method="POST")
            .form-group 
                label Name
                input.form-control(name="name", type='text', value='' + account.name required='') 

                label User Name
                input.form-control(name="username", type='text', value='' + account.username required='') 

                label Password
                input.form-control(name="password", type='password', value='' + account.password required='')

                label Date of birth
                input.form-control(name="dateofbirth", type='date', value='' + trainer.dateofbirth required='')

                label Email
                input.form-control(name="email", type='text', value='' + trainer.email required='')

                label Phone number
                input.form-control(name="phonenumber", type='text', value='' + trainer.phonenumber required='')

                input.form-control(name="role", type='hidden', value='trainer')

            button.btn Update