extends ../layouts/staffMenu
block content
    h1 Create Course Category 

    if errors
        each error in errors
            .alert.alert-danger= error

    .align-items-center
        form(action="/staff/updateCourseCategory/"+ courseCategorys.id method="POST")
            .form-group 
                label Course Category name
                input.form-control(name="category", type='text', value='' + courseCategorys.category) 

            button.btn Update