extends ../layouts/staffMenu
block content
    #accordion.mt-4                                             
        .card
                h5.mb-0
                    p(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        | Trainer Account
              
                    table.table.mt-4 
                            tr 
                                th Name
                                th Action
                            each account in accountTrainer
                                tr
                                    td= account.name
                                    td
                                        a.btn(href='/staff/updateAccountTrainer/'+ account.username) Update 
                                        a.btn(href='/staff/deleteAccount/'+ account.username) Delete
        

    
    button.btn(type='button' data-toggle='modal' data-target='#exampleModal') Create new Account
    // Modal
    #exampleModal.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Select object to create account
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                 
                    a.btn(href = '/staff/createAccountTrainer') Trainee
               

