extends ../layouts/staffMenu
block content

    h1 List Trainer with Course
    table.table 
        tr 
            th Course
            th Trainer Name
            th Action
            th Action
            th Action
        each view in views
            tr
                td
                    a(href='/staff/viewTopic/' + view.courseName + ' | ' + view.trainer)= view.courseName
                td= view.trainer
                td
                    a.btn.btn-success(href='#') Update
                td 
                    a.btn.btn-danger.ml-4(href='/staff/deleteTrainer/'+ view.id) Delete 
                td
                    a.btn.btn-success(href='/staff/listTrainee/' + view.courseName + ' | ' + view.trainer) View all trainee

    a.btn.btn-primary(href = '/staff/addTrainerToCourse') Add new Trainer to Course